@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
body  {
    background-color: #1B2473;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.form {
    width: 600px;
    height: 412px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    padding: 26px 45px;
    position: relative;

}
.form_title  {
    width: 115px;
    height: 50px;
    padding-top: 26px;
    margin: 0 auto ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #787878;
}
.form_input {
    margin-top: 32px;
    position: relative;
}
.form_input > input {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding: 7px 15px 6px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #787878;
    
}
.form_input > input::placeholder {
    color: #cccccc;
}
.form_input > label {
    top: -15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878; 
    left: 9px;
    position: absolute;
}
.check_b {
  display: flex;
}
.checkbox_m {
    width:  24px;
    height: 24px;
    transform: translate3d(0, 30%, 0);
    cursor: pointer;
}
.check_t {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
    cursor: pointer;
}
.wrapper_entrance {
    display: flex;
    align-items: center;
    justify-content: center;
}
.entrance {
    width: 180px;
    height: 52px;
    top: 320px;
    background: #1A226B;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
}

.entrance_text {
    position: absolute;
    width: 69px;
    height: 16px;
    left: 55px;
    top: -10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
   
}
.entrance:hover {
    width: 185px;
    height: 55px;
    background: #414db4;
}
.entrance_text:hover {
    font-size: 26px;  
}
@media screen and (max-width: 768px) {
    
.body {
    width: 768px;
    height:737px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
form {
    width: 95%;
}
.form_title {
    width: 138px;
    height: 50px;
}
.form_input > input {
    font-size: 22px;
}
.checkbox_m {
    transform: translate3d(0, 20%, 0);
}
.check_t {
    width: 46%;
   
}
.entrance_text {
    left: 29%;
    width: 69px;
    height: 16px;
}